* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    padding: 0 55.5px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    height: 56px;
}
.header-logo{
    display: flex;
    width: 108px;
    height: 23px;
    margin: 14px 6px 16px 40px;
}

.header-ul-block{
    display: flex;
    margin: 16px 6px 10px 30px;

}
.header-ul{
    list-style: none;
    display: flex;
    color: #262626;
    gap: 10px;
}

.header-ul a{
    text-decoration: none;

}
.right-block{
    display: flex;
    gap: 10px;
    
}

/*#blue-block{*/
/*    display: flex;*/
/*    color: blue;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/